<h3>Create an Account</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div>
  {{ authForm.get("username").errors | json }}
  <div class="field">
    <label>Password</label>
    <input formControlName="password" />
  </div>

  {{ authForm.get("password").errors | json }}
  <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation" />
  </div>

  {{ authForm.get("passwordConfirmation").errors | json }}

  <button class="ui submit button primary">Submit</button>
</form>
